* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
}

.container {
    justify-content: center;
    display: flex;
    padding-right: 20%;
    padding-left: 20%;
}

.container div {
    width: 150px;
    height: 150px;
    margin: 5px;
      
}

.container div div {
    padding: 20px;
    margin: 20px;
    background-color: blue;
    cursor: pointer;
}

.container div div:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.bloco9 {
    display: none;
}

